<!-- Generated template for the StudentsProjectsComponent component -->


<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="en_tete">natiw | nomades advanced technologies interactive projects</p>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 *ngFor="let projet of (projects|async)">
        <article>
          <a rel="noopener" href="{{ ((projet.url_projet.indexOf('projects-eleves')>=0)? 'https://nomades-projets.ch/'+projet.url_projet : projet.url_projet ) | urlToHttps }}" target="_blank">
            <figure>
              <img src="{{ projet.images.large | urlToHttps }}" alt="">
              <figcaption>
                <h3>{{ projet.title.rendered }}</h3>
                <time>{{ projet.project_year }}</time>
              </figcaption>
            </figure>
          </a>

        </article>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
