// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   20-09-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 20-09-2017

students-projects {
  section{
    background: #333;
    font-family: 'AkzidenzGrotesk-Light';
    min-height: 700px;
    color: #fff;
    padding:5px 30px!important;
  }
  p.en_tete {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.1em;
    padding-top: 4px;
    margin-bottom: 64px;
  }

}
