// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   08-09-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 18-10-2017

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #333,
  red:        #c33a32,
  front:      #387c2b,
  back:       #0078AE, // #0078ae
  mobile:     #f6a01a
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
@import "noto-sans";
@font-face {
  font-family: 'AkzidenzGrotesk-Roman';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/AkzidenzGrotesk-Roman.ttf') format('truetype')
}

@font-face {
  font-family: 'AkzidenzGrotesk-Light';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/AkzidenzGrotesk-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Helvnul';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/HELVNUL.woff') format('woff')
}
$font-family-base: 'AkzidenzGrotesk-light';
$font-family-ios-base: 'AkzidenzGrotesk-light';
$font-family-md-base: 'AkzidenzGrotesk-light';
$font-family-wp-base: 'AkzidenzGrotesk-light';
$font-family-base: "AkzidenzGrotesk-light";
$font-size-base: 1.5rem;
