// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   16-10-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 16-10-2017

page-front-end {
  h1 {
    color: color($colors, red, base);
  }
  h2 {
    color: color($colors, front, base);
  }
  ion-label {
    white-space: normal;
  }
}
