// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   16-10-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 18-10-2017

page-workshops {
  h1 {
    margin-top:0px;
    color: color($colors, red, base);
    text-align: center;
  }
  button.button-md {
    display: inline-block;
    height:auto;
    width:100%;

    .button-inner{
     white-space: normal;
     //text-align: left;
     padding: 10px !important;
     line-height: 1.8rem;
    }
  }

}
