<!-- Generated template for the ContactComponent component -->
<section class="container">
  <div #sliderContainer class="sliderContainer">
    <div class="slide_item" *ngFor="let people of peoples;">
      <div class="person">
        <img src="{{baseUrl}}/images/perso_contact/{{people.name}}" alt="">
      </div>
      <div class="animTxt" [innerHtml]="people.txt"></div>
    </div>
  </div>
  <ion-grid id="contactFormZone">
    <ion-row>
      <ion-col col-12 col-sm></ion-col>
      <ion-col>
        <form [formGroup]="form">
          <header>
            <h2>Contact</h2>
          </header>
          <ion-list>
            <ion-item>
              <ion-label color="dark" fixed>Nom</ion-label>
              <ion-input type="text" name="nom" formControlName="nom"  placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" fixed>Prénom</ion-label>
              <ion-input type="text" formControlName="prenom" name="prenom" placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" fixed>E-mail</ion-label>
              <ion-input type="email" formControlName="email" name="email" placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" fixed>Objet</ion-label>
              <ion-input type="text" formControlName="objet" name="objet" placeholder=""></ion-input>
            </ion-item>
            <ion-item class="noInput">
              <ion-label color="dark" fixed>Message</ion-label>
            </ion-item>
            <ion-item>
              <ion-textarea formControlName="message" placeholder=""></ion-textarea>
            </ion-item>
          </ion-list>
          <button color="dark" ion-button (click)="onSubmit()" [disabled]="!form.valid">Envoyer</button>
        </form>
      </ion-col>
      <ion-col col-12 col-sm></ion-col>
    </ion-row>
  </ion-grid>
</section>
