<!-- Generated template for the ContactComponent component -->

<ion-grid>
  <ion-row>
    <ion-col>
      <section id="slide_contact">
        <div class="_L_larger_site intro_contact">
          <h2>Workshops personnalisés sur demande</h2>
          <p>Ces pages contiennent une sélection de workshops parmi les plus demandés dans le développement-web. D’autres  Workshops peuvent être organisés sur demande, avec le programme, les dates, les horaires et le lieu souhaités par les clients. Les cours peuvent être dispensés en français ou en anglais. N’hésitez pas à <strong>nous Contacter</strong>.</p>
        </div>
      </section>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <form>
        <h2>Contact</h2>
        <ion-list>

          <ion-item>
            <ion-label color="primary" fixed>Nom</ion-label>
            <ion-input type="tel" placeholder="Tel Input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Prénom</ion-label>
            <ion-input type="tel" placeholder="Tel Input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>E-mail</ion-label>
            <ion-input type="tel" placeholder="Tel Input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Objet</ion-label>
            <ion-input type="tel" placeholder="Tel Input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Message"></ion-textarea>
          </ion-item>
        </ion-list>
      </form>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
