// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   15-09-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 19-09-2017

formations {

  max-width: 880px;
  right: 0;
  margin: auto;
  display: block;

  section {
    margin-bottom: 50px;
  }
  p.title {
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      background: #021689;
      padding: 5px;
      letter-spacing: 0.1em;
      font-family: "AkzidenzGrotesk-Roman", Arial,Helvetica,sans-serif;
  }

  article {
    padding: 10px 0px;
  }

  #front-end, #back-end {
    h2 {
      padding-bottom: 4px;
      line-height: 1.3em;
      font-size: 18px;
      margin:0px;
      margin-top: 5px;
    }
    .categorie {
      color: #717073;
      margin: 10px 0px 0px 0px;
      padding: 0px;
    }
    span.title, span.pdf {
        display: inline-block;
        margin-left: 10px;
    }
  }
  #front-end {
    h2, h3 {
      color: #387c2b;
    }
    h3 {
      border-bottom: 1px solid #387c2b;
    }
    article h2{
      color: #387c2b;
    }
    .titre_formations {
      border-bottom:solid 1px #387c2b;
    }
    span.colorize {
        padding-bottom: 15px;
        margin-right: 15px;
        border-bottom: solid 4px #387c2b;
    }
  }
  #back-end {
    h2, h3 {
      color: #0078AE;
    }
    h3 {
      border-bottom: 1px solid #0078AE;
    }
    article h2 {
      color: #0078AE;
    }
    .titre_formations {
      border-bottom:solid 1px #0078AE;
    }
    span.colorize {
        padding-bottom: 15px;
        margin-right: 15px;
        border-bottom: solid 4px #0078AE;
    }
  }
  span.colorize {
      display: block;
      height:100%;
  }
  span.colorize.last{
    margin-right: 0px!important;
  }


  #about_formations {
    .col_left {
        float: left;
        width: calc(50% - 20px);
    }
    .col_right {
        float: right;
        width: calc(50% - 20px);
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    h2 {
      background: #c33a32;
      color: #fff;
      font-size: 18px;
      letter-spacing: 0.05em;
      padding: 5px;
      text-transform: uppercase;
      margin-bottom: 54px;
    }
    h4 {
       color: #c33a32;
       border-bottom: 1px solid #666;
       padding-bottom: 3px;
       font-size: 18px;
       letter-spacing: 0.05em;
       margin-bottom: 30px;
   }
   h5 {
       margin-bottom: -10px;
       color: #c33a32;
       letter-spacing: 0.04em;
   }
   p {
       color: #717073;
       margin-bottom: 25px;
       font-size: 16px;
       line-height: 1.3em;
       text-align: justify;
   }
  }
}
