<!-- Generated template for the HeaderNavComponent component -->
<header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>nomades advanced technologies</h1>
      </ion-col>
      <ion-col col-2>
        <img src="{{baseUrl}}/images/logo-nomades.png" alt="">
      </ion-col>
      <ion-col>
        <span class="titre_right">formation aux technologies de l’information</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <nav class="navigation nav_menu">
          <ul class="_L_larger_site content_menu clearfix">
            <li><a href="#formation_diplomantes">formations diplômantes</a>
              <ul>
                <li><a href="#dipl_front_end"> intégrateur web | front-end developer</a></li>
                <li><a href="#formation_back_end"> back-end developer | mobile applications developer</a></li>
              </ul>
            </li>
            <li class="link_projets"><a href="#section_projets">projets</a></li>
            <li><a href="#programme_wk">programme workshops</a></li>
            <li><a href="#formulaire_inscription">inscription workshops</a></li>
            <li class="link_contact"><a href="#contact">contact</a></li>
          </ul>
        </nav>
      </ion-col>
    </ion-row>
  </ion-grid>

</header>
