<!-- Generated template for the WorkshopsComponent component -->

<section *ngIf="(workshops|async); let wks">

  <h2 class="titre_WORKSHOP">W<span class="rouge">O</span>R<span class="bleu">K</span><span class="vert">S</span>H<span class="rouge">O</span>P<span class="vert">S</span></h2>

  <section id="front-end">
    <header>
      <p class="slogan">nomades advanced technologies interactive workshops</p>
      <h2>front-end development</h2>
    </header>
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-sm>
          <section>
            <h2>Interfaces graphiques</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 7})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
        <ion-col col-12 col-sm>
          <section>
            <h2>Web editing</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 8})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
        <ion-col col-12 col-sm>
          <section>
            <h2>Programmation javascript</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 9})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section id="mobile_wk">
    <header>
      <p class="slogan">nomades advanced technologies interactive workshops</p>
      <h2>mobile applications development</h2>
    </header>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <section>
            <h2>Mobile-web apps. develpmt.</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 13})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
        <ion-col col-12 col-sm>
          <section>
            <h2>Mobile native apps s/Android</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 14})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
        <ion-col col-12 col-sm>
          <section>
            <h2>Mobile native apps s/iOS</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 15})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section id="back_end_wk">
    <header>
      <p class="slogan">nomades advanced technologies interactive workshops</p>
      <h2>back-end development</h2>
    </header>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <section>
            <h2>Frameworks & librairies JS</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 10})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
        <ion-col col-12 col-sm>
          <section>
            <h2>Programmation PHP/MySQL</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 12})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
        <ion-col col-12 col-sm>
          <section>
            <h2>Mobile native apps s/iOS</h2>
            <article *ngFor="let workshop of (wks|filterBy:{prop: 'parcours', value: 11})">
              <div>
                <h2 (click)="displayDetail(workshop)">{{workshop?.title.rendered}}</h2>
                <p>
                  Dates: {{ workshop?.date_session_1_du }} au {{ workshop?.date_session_1_au }} <br/>
                  <span [innerHtml]="workshop?.desc_resume_workshop"></span>
                </p>
              </div>
            </article>
          </section>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 col-sm>
          <section id="slide_contact">
            <div class="_L_larger_site intro_contact">
              <h2>Workshops personnalisés sur demande</h2>
              <p>Ces pages contiennent une sélection de workshops parmi les plus demandés dans le développement-web. D’autres  Workshops peuvent être organisés sur demande, avec le programme, les dates, les horaires et le lieu souhaités par les clients. Les cours peuvent être dispensés en français ou en anglais. N’hésitez pas à <strong>nous Contacter</strong>.</p>
            </div>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- <pre>
      {{ wks|json }}
  </pre> -->
</section>
